@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Sarpanch:wght@400;500;600;700;800;900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Zen+Dots&display=swap');

body{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(240, 255, 255);
    color: rgb(240, 255, 255);
    margin: 0;
}

#wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 1.5em;
    background-color: rgb(22, 93, 81);
    border-radius: 20px;
}

.logo a{
    text-decoration: none;
    color: rgb(240, 255, 255);

}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

nav{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 2em;

}

nav a{
    text-decoration: none;
    color: rgb(240, 255, 255);
}

a:hover{
    text-decoration:    underline;
}

main{
    margin: 3em 0;
}

main ol li a, main ul li a{
    text-decoration: none;
    color: rgb(240, 255, 255);
    line-height: 2;
}

ol, ul{
    text-align: left;
    margin: 2em auto;
    max-width: 700px;
    padding: 0 1em;
}

ol p, ul p{
    font-size: medium;
}

footer{
    font-size: small;
    padding: 1em 0 3em 0;
}

footer a{
    color: rgb(240, 255, 255);
    text-decoration: none;
}

/* media query for phone screen */
@media (max-width: 600px) {

    body {
        font-size: 16px;
    }

    #wrapper {
        padding: 1em;
        border-radius: 15px;
    }

    .heading {
        flex-direction: column;
        gap: 1em;
    }

    ol, ul {
        max-width: 90%;
        margin: 1.5em auto;
        padding: 0;
    }
}