@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Sarpanch:wght@400;500;600;700;800;900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Zen+Dots&display=swap');

body{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(240, 255, 255);
    color: rgb(240, 255, 255);
    margin: 0;
}

#wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 1.5em;
    background-color: rgb(22, 93, 81);
    border-radius: 20px;
}

header h1, h2, h3{ 
    font-weight: 500;
}

header h1{
    padding: 1em 0 10px 0;
    font-size: clamp(40px, 8vw, 80px);
}

nav{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2em 0 0 0;

}

nav a{
    text-decoration: none;
    color: rgb(240, 255, 255);
    font-size: 1.1rem;
}

a:hover{
    text-decoration:    underline;
}

footer{
    font-size: small;
    padding: 1em 0 3em 0;
}

footer a{
    color: rgb(240, 255, 255);
    text-decoration: none;
}

.pic{
    padding: 3em 0;
}

.pic img{
    border: 2px solid #fff;
    max-width: 90%;
    height: auto;
}

/* media query for phone screen */
@media (max-width: 600px) {

    body {
        font-size: 16px;
    }

    nav {
        gap: 10px;
    }

    #wrapper {
        padding: 1em;
        border-radius: 15px;
    }
}

